__pycache__/
*.pyc
profiles/
chrome_profiles/
tiktok_downloads/
src_backup/
temp_clone/
toolsdangbaitatca/
accounts_backup.json
temp*.json
tiktok_history.json
fix_*.py
refactor*.py
generate_funcs.py
demo_ui.py
test_*
qload.html
.env
.ruff_cache/
license_info.json